html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Below this line is all CSS I added. Above this line is CSS boilerplate I added at start of project */

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

/* Below is CSS for top navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03045e;
  margin-bottom: 30px;
  color: #fff;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
}

.brandLink {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #f0efeb;
}

.navbar-links li a:hover {
  color: black;
}

.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.navbar-links li a {
  padding: 0.5rem 1rem;
}

.navbar-links.active {
  display: flex;
}

/* Above is CSS for top navbar */

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.containerH1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  color: black;
  font-size: calc(2.5rem + 0.8vw);
  margin-bottom: 20px;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.linkedin {
  margin-right: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  max-width: 60px;
  max-height: 60px;
}

.github {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  max-width: 60px;
  max-height: 60px;
}

.linkedin:hover {
  border-color: #0096c7;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em #0096c7;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.github:hover {
  border-color: #0096c7;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em #0096c7;
  transform: translateY(-0.25em);
  cursor: pointer;
}

h2 {
  color: black;
  font-size: calc(2rem + 0.8vw);
  margin-top: 50px;
  text-align: center;
  margin-bottom: 8px;
}

p {
  color: black;
  text-align: center;
  font-size: calc(0.9rem + 0.8vw);
  line-height: 1.3;
  margin-bottom: 8px;
}

img {
  max-width: 100%;
}

.button {
  background: none;
  color: black;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: border-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 270px;
  text-align: center;
}

.button:hover {
  border-color: #0096c7;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em #0096c7;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.buttonPosition {
  display: flex;
  justify-content: center;
}

.holdingContainer {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.holdingContainer p {
  margin-bottom: -20px;
  padding: 10px;
}

.holdingContainer img {
  padding: 10px;
}

.contactMe {
  margin-top: 100px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/* Below Is CSS For Portfolio Page: */

.introText {
  margin-bottom: -30px;
}

.portfolioContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: -30px;
}

.portfolioContainer p {
  margin-bottom: 17px;
}

.gif {
  margin-bottom: -80px;
}

.portfolioButtonPage {
  background: none;
  color: black;
  border: 2px solid;
  padding: 0.8em 1em;
  font-size: 1em;
  transition: border-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 100px;
  width: 270px;
  text-align: center;
}

.portfolioButtonPage:hover {
  border-color: #0096c7;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em #0096c7;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.portfolioButtonPosition {
  display: flex;
  justify-content: center;
}

/* Above Is CSS For Portfolio Page */

/* Media Queries Below: */

@media (max-width: 850px) {
  .buttonPosition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .holdingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1900px) {
  .containerH1 {
    max-width: 1400px;
    margin: 0 auto;
  }

  h1 {
    font-size: calc(3rem + 0.8vw);
  }

  h2 {
    font-size: calc(2.5rem + 0.8vw);
  }

  p {
    font-size: calc(1rem + 0.8vw);
    line-height: 1;
  }

  .button {
    background: none;
    color: black;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1.3em;
    transition: border-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 350px;
    text-align: center;
  }

  .holdingContainer {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  .holdingContainer p {
    margin-bottom: 0px;
    padding: 10px;
  }

  .holdingContainer img {
    padding: 10px;
    width: 80%;
  }

  /* Below is CSS for top navbar */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03045e;
    margin-bottom: 50px;
    color: #fff;
  }

  .brand-title {
    font-size: 2.5rem;
    margin: 1rem;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    font-size: 1.8rem;
    margin-right: 30px;
  }

  .brandLink {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }

  .navbar-links li:hover {
    background-color: #f0efeb;
  }

  .navbar-links li a:hover {
    color: black;
  }

  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

@media (min-width: 2500px) {
  .containerH1 {
    max-width: 1900px;
    margin: 0 auto;
  }

  h1 {
    font-size: calc(3.5rem + 0.8vw);
  }

  h2 {
    font-size: calc(3rem + 0.8vw);
  }

  p {
    font-size: calc(1.4rem + 0.8vw);
    line-height: 1.2;
  }

  .button {
    background: none;
    color: black;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1.6em;
    transition: border-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 450px;
    text-align: center;
  }

  .holdingContainer {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
  }

  .holdingContainer p {
    margin-bottom: 0px;
    padding: 10px;
  }

  .holdingContainer img {
    padding: 10px;
    width: 80%;
  }

  .logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .linkedin {
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    max-width: 100px;
    max-height: 100px;
  }

  .github {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    max-width: 100px;
    max-height: 100px;
  }

  /* Below is CSS for top navbar */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03045e;
    margin-bottom: 50px;
    color: #fff;
  }

  .brand-title {
    font-size: 3rem;
    margin: 1rem;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    font-size: 2.5rem;
    margin-right: 50px;
  }

  .brandLink {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }

  .navbar-links li:hover {
    background-color: #f0efeb;
  }

  .navbar-links li a:hover {
    color: black;
  }

  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Below is media queries for Portfolio: */
@media (min-width: 1700px) {
  .introText {
    margin-bottom: -30px;
  }

  .portfolioContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: -30px;
  }

  .portfolioContainer p {
    margin-bottom: 17px;
  }

  .portfolioContainer img {
    width: 100%;
  }

  .gif {
    margin-bottom: -80px;
  }

  .portfolioButtonPage {
    background: none;
    color: black;
    border: 2px solid;
    padding: 0.8em 1em;
    font-size: 2em;
    transition: border-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    width: 370px;
    text-align: center;
  }

  .portfolioButtonPage:hover {
    border-color: #0096c7;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em #0096c7;
    transform: translateY(-0.25em);
    cursor: pointer;
  }

  .portfolioButtonPosition {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 2500px) {
  .introText {
    margin-bottom: -30px;
  }

  .portfolioContainer {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: -30px;
    margin-top: 100px;
  }

  .portfolioContainer p {
    margin-bottom: 17px;
  }

  .portfolioContainer img {
    width: 100%;
  }

  .gif {
    margin-bottom: -80px;
  }

  .portfolioButtonPage {
    background: none;
    color: black;
    border: 2px solid;
    padding: 0.8em 1em;
    font-size: 3em;
    transition: border-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    width: 500px;
    text-align: center;
  }

  .portfolioButtonPage:hover {
    border-color: #0096c7;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em #0096c7;
    transform: translateY(-0.25em);
    cursor: pointer;
  }

  .portfolioButtonPosition {
    display: flex;
    justify-content: center;
  }
}
/* Media Queries End Here: */
